workDir = "/scratch1/$USER/nxf-work"
def SCR = System.getenv('SCRATCH')
workDir = SCR ? "${SCR}/nxf-work" : "${baseDir}/work"

profiles {
  singularity {
    singularity.enabled     = true
    singularity.autoMounts  = true
    process.executor        = 'local'
    process.container       = "${projectDir}/chipfold.sif"   // has curl
    singularity.runOptions  = "-B ${projectDir}:${projectDir} -B /project:/project --env MPLCONFIGDIR=/tmp/mpl"
  }
}

process {
  echo   = true
  cpus   = 1
  memory = '4 GB'
}
